* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #78466a;
  color: #fff;
  padding: 1rem;

}

.profile-card {
  background: #d391b0;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 900px;
  

}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  color: #0c0420;
  border-bottom: #d39180 2px solid;
  transition: all 0.4s ease-in-out;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0c0420;
  margin-top: 20px;
}

.profile-picture,
h2,
p,
.time {
  transition: all 0.4s ease-in-out;
}



h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 20px;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: break-word;
  
}

.time {
  margin-top:  10px;
  font-size: 0.9rem;
  color: #ccc;
  background-color: green;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 5px ;
  border-radius: 5px;
  margin-bottom: 10px;
}

.social-links ul {
  display: flex;
  align-items: start;
  gap: 1rem;
  list-style: none;
  font-size: 0px;
  border-bottom: #d39180 2px solid;
  border-style: outset;
  padding: 10px;
}

.social-links a {
  color: #0c0420;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-links a:hover,
.social-links a:active {
  color: green;
}


h3 {
  margin: 10px 20px;
  text-align: left;
  color: #0c0420;
  font-size: 20px;
}

section {
  text-align: center;
}

section ul {
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  border-bottom: #d39180 2px solid;
  padding: 10px;
  border-style: outset;
}

section li {
  background-color: green;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 70px;
  }

  .profile-picture {
    
    width: 150px;
    height: 150px;
    margin-top: 70px;
  }

  .profile-card {
    margin-top: 50px;
    width: 100%;
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .time {
    font-size: 0.85rem;

  }

  section ul {
    list-style: square;
    display: grid;
    padding: 10px 25px;
    
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .profile-card {
    width: 95%;
    padding: 2.5rem;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  .profile-header {
    gap: 2rem;
  }
   h2 {
    font-size: 3rem; 
  }

  p {
    font-size: 1.3rem; 
    line-height: 1.6;
  }

  h3 {
    font-size: 1.3rem; 
  }

  .time {
    font-size: 1rem;
    
  }
  section ul {
    list-style: square;
    display: grid;
    padding: 20px 25px;
    font-size: 20px;
    
  }
}



