* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #78466a;
  color: #fff;
  padding: 1rem;

}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: #d39180 2px solid;
  background-color: #78466a; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0px 20px 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: bold;
  font-size: larger;
}

.nav-links a:hover {
  color: green;
}

.profile-card {
  background: #d391b0;
  padding: 2.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  color: #0c0420;
  border-bottom: #d39180 2px solid;
  transition: all 0.4s ease-in-out;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0c0420;
  margin-top: 20px;
}

.profile-picture,
h2,
p,
.time {
  transition: all 0.4s ease-in-out;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 20px;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: break-word;

}

.time {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #5d3552;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
}

.social-links ul {
  display: flex;
  align-items: start;
  gap: 1rem;
  list-style: none;
  border-bottom: #d39180 2px solid;
  border-style: outset;
  padding: 10px;
}

.social-links a {
  color: #0c0420;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-links a:hover,
.social-links a:active {
  color: green;
}


h3 {
  margin: 10px 20px;
  text-align: left;
  color: #0c0420;
  font-size: 20px;
}

section {
  text-align: center;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  border-bottom: #d39180 2px solid;
  padding: 10px;
  border-style: outset;
}

section li {
  background-color: #4b2e83;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
}

.footer {
  background-color: #78466a;
  color: #f5f5f5;
  padding: 30px 10px;
  border-top: 2px solid #d39180;
  text-align: center;
  font-size: 16px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.footer-links a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: green;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #f5f5f5;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: green;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: 1rem; */

  }

  .profile-card {
    width: 100%;
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  section ul {
    list-style: square;
    display: grid;
    padding: 10px 25px;

  }

  .footer-container {
    gap: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    gap: 10px;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
  }

  h3 {
    font-size: 1.3rem;
  }

  .time {
    font-size: 1rem;

  }

  section ul {
    list-style: square;
    display: grid;
    padding: 20px 25px;
    font-size: 20px;

  }
}

@media (max-width: 600px) {
  main {
    padding: 15px 0px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .social-links ul {
    display: flex;
    align-items: start;
    gap: 1rem;
    list-style: none;
    font-size: 0px;
    border-bottom: #d39180 2px solid;
    border-style: outset;
    padding: 10px;
  }

}